{% extends "global/base.html" %}

{% block content_area %}

<h1>Welcome to Listi.co</h1>


<p>Keep things as simple as possible, but never simpler.</p>

<p>Listico is the easiest way to keep all the stuff you have to do in one easy to get to place. It's a to-do list that doesn't have extra junk to distract you from getting stuff done. The lack of extra stuff is the best feature.</p>

<div class="cta_buttons">

    <div class="signup_button"><a href="/signup/">Get Started</a></div>

    <div class="or_spacer">or</div>

    <div class="signin_button"><a href="/login/">Log In</a></div>

</div>

{% endblock %}